<div class="playarea">
  <div class="playfield">
    <div class="playfield-row">
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
    </div>
    <div class="playfield-row">
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
    </div>
    <div class="playfield-row">
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
      <div class="playfield-cell"><wam-molehill></wam-molehill></div>
    </div>
  </div>
  <div class="scoreboard">
    <h2>Playtime: {{ timeLeft | timer }}</h2>
    <h2>Score: {{ score | number : "1.0-0" }}</h2>
    <h2>Moles whacked: {{ moleCount | number : "1.0-0" }}</h2>
  </div>
</div>
